body{
	width: 500px;
}
#body-wrapper{
	width:600px;
	position: relative;
}
#current-temp{
	position: relative;
}
#weather-canvas{
	position: absolute;
	height: 250px;
	width: 500px;
}
#search-input{
	width:80%;
	margin:25px auto;
}
#search-label{
	margin
}
#forecast{
	position: relative;
	margin:25px auto;
	width: 500px;
	font-family: 'Myriad Pro';
	font-size: 26px;
	color: blue;
	text-align: center;
}
#current-weather-location{
	text-align: center;
	/*margin:auto;*/
	/*position: absolute;
	top:-30px;
	left:166px;*/
}
#current-weather-icon{
	position: absolute;
	top:169px;
	left:219px;
	z-index: 10;
}
#five-day-forecast{
	width:100%;
	position: absolute;
	top:430px;
	left:0;
}
.each-day-forecast{
	width:19%;
	float: left;
	text-align: center;
}
#compass{
	width: 150px;
	height:150px;
	position: absolute;
	top:170%;
	left:75%;
}
#arrow{
	width: 81px;
	height: 25px;
	position: absolute;
	top:230%;
	left:83%;
	z-index: 20;
	transition: transform 2s cubic-bezier(0.09,0.25,0.49,1.58);

}
